<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="vscode"/>
	<package id="awscli"/>
	<package id="docker-compose"/>
	<package id="f.lux"/>
	<package id="git"/>
	<package id="mongodb-shell"/>
	<package id="nvm"/>
	<package id="postman"/>
	<package id="python"/>
	<package id="androidstudio"/>
</packages>
